/*Les propriété du header customizer-----------------------------------*/

@media screen and (max-width: 768px) {
    .header {
        height: 60px;
        box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.05);
    }
}

/ *--Les propriété du top navigation-----------------------------*/ .navText {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    min-height: 38px;
    display: flex;
    align-items: center;
}

.navText a {
    font-size: 0.75rem;
    margin-right: 8px;
    cursor: pointer;
}

.navSelect {
    color: #75757a;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/*Le popup-----------------------------------------------*/

.popupLoadingClose {
    display: none;
}

.popupLoading {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
}

.modalContent {
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
}

.modalContent h1 {
    font-size: 0.85rem;
    margin-top: 20px;
}


/*Le chargement en cours animation--------------------------*/

.loadContainer {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading {
    width: 40px;
    height: 40px;
    border: 5px solid rgb(223, 223, 223);
    border-radius: 50%;
    border-left: 5px solid #b32020;
    border-right: 5px solid #b32020;
    border-top: 5px solid #b32020;
    animation: spin 800ms linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*Debut des propriété de la section------------------------------------------------*/

#mainContainer {
    max-width: 1184px;
    ;
    marg margin-left: auto;
    width: 100%;
    min-height: 600px;
    margin-top: 70px;
    padding-left: 10px;
    box-sizing: border-box;
    position: relative;
}

display: none;
position: absolute;
top: left: 40%;
flex-direction: column;
justify-content: center;
align-items: center;
#wrap max-width: 970px;
margin-left: auto;
margin-right: auto;
padding: 0 10px;
margin-bottom: 20px;
margin-top: 30px;
font-size: 12px;
line-height: 1.42857;
color: #555;

}
.productWrapper {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .05);
    margin-bottom: 20px;
    .product {
        posi display: flex;
        width: 100%;
        border-bottom: 1px solid #ededed;
    }
    
    .image {
        display: flex;
        width: 100%;
        box-sizing: border-box;
    }
    
    .icon {
        cursor: pointer;
        position: absolute;
        right: 20px;
    }
    
    .imag padding: 10px;
}
.name {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 0;
    text-align: left;
    over padding-bottom: 6px;
}
.name h1 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    padd box-sizing: border-box;
}
.name h2 {
    color: #ababab;
    line-height: 1;
    margin-bottom: 6px;
}
.name h3 {
    font-size: 15px;
    font-weight: 600;
    margin-right: 16px;
}
. name div {
    display: flex;
    align-items: center;
}
.myPrix {
    cursor: pointer;
}
.myPrix span {
    margin-left: 6px;
    color: #b32020;
    font-weight: 500;
}

/*Le pied de page--------------------------------------------------------*/
footer {
    font-size: .75rem;
    padding-bottom: 16px;
    background-color: #323232;
    color: #c7c7cd;
    box-sizing: border-box;
}
.footer_wrapper {
    padding-top: 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1184px;
    width: 100%;
    box-sizing: border-box;
}
.footer1 {
    flex-wrap: wrap;
    display: flex;
}
.col1 {
    flex-basis: 25%;
    max-width: 25%;
    min-width: 25%;
    width: 25%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col1 img {
    width: 60%;
}
.col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 43.75%;
    max-width: 43.75%;
    min-width: 43.75%;
    width: 43.75%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}
.col2 .text1 {
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
.col2 form {
    padding-top: 16px;
}
.col2 form .div1 {
    align-items: flex-start;
    display: flex;
}
.col2 form .div1 div {
    margin-right: 8px;
    flex-grow: 1;
    position: relative;
}
.col2 form .div1 div label {
    z-index: -1;
    position: absolute;
}
.col2 form .div1 div input {
    font-size: .75rem;
    background-color: #fff;
    border: 1px solid #fff;
    line-height: 1.2;
    padding-left: 32px;
    width: 100%;
    box-shadow: none;
    border-radius: 4px;
    color: #282828;
    box-sizing: border-box;
    overflow: visible;
    margin: 0;
    padding: 8px
}
.genreWrapper {
    display: flex;
}
.genreButton {
    border-style: none;
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
    font-size: .75rem;
    line-height: 1.2;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
    margin-right: 8px;
}
#appSection {
    margin-left: auto;
}
.appHeader {
    display: flex;
    box-sizing: border-box
}
.appHeader img {
    width: 40px;
}
.appHeader .down1 {
    padding-left: 16px;
}
.appHeader .down2 {
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
.appDownload {
    width: 100%;
    display: flex;
    margin-top: 8px;
}
.store img {
    border: 1px solid #fff;
    height: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
    border-radius: 2px;
    padding: 4px;
    width: 100%;
}
#storeFirst {
    margin-right: 16px;
}
.footer2Container {
    margin-top: 30px;
    padding-top: 10px;
    margin-right: 18px;
    margin-left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #464646;
}
.footer2Container a {
    margin: 6px;
}
.footer3 {
    font-size: 0.55rem;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

/*Les petit ecran d'ordinateur----------------------------------------------*/
@media screen and (max-width: 1184px) {
    #wrapper {
        max-width: 950px;
    }
    
    #mainContainer {
        padding-right: 18px;
        padding-left: 18px;
        box-sizing: border-box;
    }
    
    #mainLogo {
        margin-left: 20px;
    }
    
    #mainMenu {
        width: 35%;
    }
}

/*Les petit ecran d'ordinateur----------------------------------------------*/
@media screen and (max-width: 768px) {
    #mainContainer {
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 60px;
    }
    /*main header*/
    
    #mainHeader {
        height: 60px;
    }
    
    #mainSection {
        padding-right: 0;
        padding-left: 0;
    }
    
    #wrapper_main {
        padding-top: 10px;
    }
    
    #sliderContent {
        margin-left: 0px;
        height: 170px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: none;
        border-radius: 0px;
    }
    
    #slider section {
        margin-right: 10px;
        width: 320px;
        justify-content: flex-end;
    }
    
    .controls {
        display: none;
    }
    
    #sideMenu {
        display: none;
    }
    
    #wrapper_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0;
    }
    
    .slide {
        width: 100%;
    }
    
    #mainLogo img {
        max-width: 130px;
    }
    
    #mainLogo {
        margin-left: 45px;
    }
    
    #backIcon {
        position: absolute;
        display: block;
        margin-left: 8px;
    }
    
    #mainSearch {
        display: none;
    }
    
    #mainMenu {
        width: 30%;
        display: flex;
        align-items: center;
        height: 40px;
        justify-content: space-around;
    }
    
    #mainMenu div:nth-child(2) {
        display: none;
    }
    
    #mainMenu {
        justify-content: flex-end;
        margin-right: 10px;
    }
    
    #mainMenu img {
        height: 22px;
        width: 22px;
    }
    
    .menuItem a {
        height: 50px;
        margin-right: 10px;
    }
    
    #mainMenu span {
        display: none;
    }
    /*Je pense que le footer commence à ce niveau----------------------------*/
    
    .footer_wrapper {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
    .col1 {
        box-sizing: border-box;
        flex-basis: 90%;
        max-width: 90%;
        min-width: 90%;
        width: 90%;
    }
    
    .col1 img {
        width: 30%;
    }
    
    .col2 {
        margin-top: 20px;
        margin-bottom: 20px;
        box-sizing: border-box;
        flex-basis: 90%;
        max-width: 90%;
        min-width: 90%;
        width: 90%;
    }
    
    #appSection {
        margin-left: 0;
    }
    
    .appHeader .down1 {
        padding-left: 0;
    }
    
    .appHeader img {
        width: 35px;
        height: 35px;
    }
    
    .store img {
        height: 30px;
        width: 100%;
    }
}