.popupLoadingClose {
    display: none;
}

.popupLoading {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
}

.modalContent {
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
}

.modalContent h1 {
    font-size: 0.85rem;
    margin-top: 20px;
}

.loading {
    width: 40px;
    height: 40px;
    border: 5px solid #dfdfdf;
    border-radius: 50%;
    border-left: 5px solid #b32020;
    border-right: 5px solid #b32020;
    border-top: 5px solid #b32020;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

#drawer-icon {
    display: block;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header {
        /* height: 60px; */
        height: 105px;
        box-shadow: 0 5px 5px -4px rgba(0, 0, 0, 0.05);
    }
}

main {
    margin-top: 70px;
    position: relative;
}

.w-main {
    margin-right: auto;
    margin-left: auto;
    max-width: 1184px;
}

.navText {
    width: 100%;
    padding-top: 6px;
    min-height: 38px;
    display: flex;
    align-items: center;
}

.navText a {
    font-size: 0.75rem;
    margin-left: 8px;
    cursor: pointer;
}

.navSelect {
    color: #75757a;
}

.navWrapper {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.navImage {
    background-color: #fff;
    line-height: 0;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
}

.navImage img {
    box-sizing: border-box;
    width: 100%;
    padding: 6px;
    height: 100%;
    border-radius: 4px;
}

#sideMenu {
    position: fixed;
    display: none;
    background-color: #fff;
    width: 206px;
    height: 354px;
    top: 64px;
    margin-left: 8px;
    z-index: 3;
    font-size: 0.75rem;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.sub {
    display: none;
    position: absolute;
    left: 196px;
    top: 0;
    z-index: 2;
    padding-left: 10px;
    height: 100%;
    font-size: 0.75rem;
    border-radius: 4px;
}

.subContent a {
    cursor: pointer;
    margin-top: 8px;
}

.sub-w {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #fff;
    height: 100%;
    width: 720px;
    display: flex;
    flex-direction: row;
}

.co {
    display: flex;
    flex-basis: 33.33%;
    min-width: 33.33%;
    max-width: 33.33%;
    width: 33.33%;
    flex-direction: column;
}

.co span {
    margin-top: 10px;
    margin-left: 16px;
    cursor: pointer;
}

.cat-title {
    color: #282828;
    font-weight: 400;
    padding-bottom: 8px;
    text-transform: uppercase;
    border-bottom: 1px solid #ebebeb;
}

.cat-itm {
    color: #75757a;
}

.cat-itm:hover {
    color: #b32020;
    font-weight: 600;
}

#sideMenu a {
    display: flex;
    align-items: center;
    padding-left: 8px;
    height: 32px;
    cursor: pointer;
}

#sideMenu img {
    margin-right: 6px;
}

.navCategorie {
    flex-basis: 100%;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 4px;
    margin-bottom: 12px;
}

.navCategorie header {
    padding-left: 10px;
    padding-right: 10px;
    min-height: 40px;
    align-items: center;
    padding-top: 6px;
    display: flex;
    border-radius: 4px 4px 0 0;
}

.navCategorie h2 {
    font-size: 1.25rem;
    text-overflow: ellipsis;
    font-weight: 500;
    flex: 1;
}

.navCategorieContainer {
    display: flex;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    overflow-x: hidden;
}

.navCategorieContainer p {
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    text-overflow: ellipsis;
    font-size: 0.875rem;
    line-height: 1.2rem;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}

.navCategorieContainer img {
    width: 100%;
}

.navCategorieContainer a {
    margin-left: 4px;
    margin-right: 4px;
    padding-bottom: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    width: 16.66%;
    overflow: hidden;
    cursor: pointer;
}

.navCategorieContainer a:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.productSection section {
    margin-left: 8px;
    margin-right: 8px;
}

.sideWrapper img {
    display: none;
    margin-right: 10px;
}

.sideWrapper span {
    font-size: 0.875rem;
    margin-left: 8px;
    font-weight: 400;
    box-sizing: border-box;
}

#mainContainer {
    display: flex;
    padding-bottom: 16px;
    min-height: 800px;
    width: 100%;
}

#wrapper_main {
    display: flex;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 26px;
    padding-top: 16px;
    margin: 20px auto;
    justify-content: space-around;
    max-width: 600px;
}

.sideSection {
    padding: 8px;
    align-self: flex-start;
    flex-basis: 25%;
    max-width: 25%;
    min-width: 25%;
    width: 25%;
    box-sizing: border-box;
}

.product-list {
    padding-bottom: 8px;
    padding-top: 8px;
    flex-basis: 75%;
    max-width: 75%;
    min-width: 75%;
    width: 75%;
    box-sizing: border-box;
    position: relative;
}

.product-list section {
    height: 100%;
    display: block;
}

.product-list header h1 {
    font-size: 1.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    white-space: nowrap;
    flex: 1;
    padding-left: 8px;
    padding-right: 8px;
}

.product-list header {
    margin-bottom: 50px;
}

.product-list header h2 {
    font-weight: 500;
    margin-right: 8px;
    cursor: pointer;
}

#all {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: end;
}

#all span {
    display: inline-block;
    height: 20px;
    width: 12px;
    margin-left: 6px;
    margin-top: 4px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../icon/icon_down.png);
}

.dropSort {
    display: none;
    position: absolute;
    right: 16px;
    top: 42px;
    z-index: 2;
    background-color: #fff;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

.dropSort h3 {
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 42px;
    box-sizing: border-box;
}

.dropSort h3:hover {
    background-color: #ededed;
    font-weight: 500;
}

.product-list header {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 8px;
    margin-left: 8px;
    min-height: 48px;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    margin-bottom: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
}

.productFooter {
    padding-left: 8px;
    padding-right: 8px;
    min-height: 48px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 4px;
    margin-bottom: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
}

.productFooter div {
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
}

.productFooter div:hover {
    font-weight: 500;
    color: #b32020;
}

.iconP {
    transform: scaleX(-1);
}

.productFooter h4 {
    text-align: center;
    width: 70px;
    margin: 0 10px;
}

.productFooter h5 {
    border: 1px solid #c7c7cd;
    padding: 5px 8px;
}

.productFooter span:first-child {
    transform: scaleX(-1);
}

.sideWrapper {
    height: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 4px;
    padding-top: 10px;
}

.sideWrapper article a {
    display: block;
}

.sideCat {
    padding-left: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 0.75rem;
}

.sideCat:hover {
    background-color: #f5f5f5;
}

#cat {
    color: inherit;
    cursor: default;
    font-weight: 600;
    margin-left: 0;
    padding-left: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.filterSection {
    border-top: 1px solid #ededed;
    margin-top: 8px;
}

.filterSection a {
    padding-left: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 0.75rem;
}

.radioItem {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #c7c7cd;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.radioItem:hover {
    background-color: #c7c7cd70;
}

.product-content {
    display: flex;
    padding-bottom: 4px;
    padding-right: 4px;
    padding-left: 4px;
    max-width: 1184px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
}

.p-item a:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

.p-item {
    width: 25%;
    box-sizing: border-box;
    overflow: visible;
    position: relative;
    padding: 5px;
}

.p-item a {
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    cursor: pointer;
}

.p-item img {
    width: 100%;
}

.productName {
    font-size: 0.775rem;
    text-overflow: ellipsis;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-right: 8px;
    margin-right: 8px;
    overflow: hidden;
    box-sizing: border-box;
    white-space: nowrap;
}

.productPrice {
    font-size: 0.875rem;
    text-align: left;
    font-weight: 500;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    line-height: 1;
}

.oldPrice {
    padding-bottom: 6px;
    font-size: 0.8rem;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    line-height: 1;
}

.productDelivery {
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    margin-bottom: 30px;
}

.productRate {
    margin-left: 6px;
    height: 12px;
    width: 80px;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c7c7cd' width='16' height='12'%3E%3Cpath d='M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z'/%3E%3C/svg%3E");
}

.rate {
    height: 12px;
    width: 1px;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b32020' width='16' height='12'%3E%3Cpath d='M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z'/%3E%3C/svg%3E");
}

.promoCard {
    display: none;
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #fff0f0;
    padding-left: 4px;
    padding-right: 4px;
    height: 24px;
    min-width: 30px;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 500;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    color: #b32020;
}

footer {
    font-size: 0.75rem;
    padding-bottom: 16px;
    background-color: #323232;
    color: #c7c7cd;
    box-sizing: border-box;
}

.footer_wrapper {
    padding-top: 24px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1184px;
    width: 100%;
    box-sizing: border-box;
}

.footer1 {
    flex-wrap: wrap;
    display: flex;
}

.col1 {
    flex-basis: 25%;
    max-width: 25%;
    min-width: 25%;
    width: 25%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.col1 img {
    width: 60%;
}

.col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 43.75%;
    max-width: 43.75%;
    min-width: 43.75%;
    width: 43.75%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.col2 .text1 {
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.col2 form {
    padding-top: 16px;
}

.col2 form .div1 {
    align-items: flex-start;
    display: flex;
}

.col2 form .div1 div {
    margin-right: 8px;
    flex-grow: 1;
    position: relative;
}

.col2 form .div1 div label {
    z-index: -1;
    position: absolute;
}

.col2 form .div1 div input {
    font-size: 0.75rem;
    background-color: #fff;
    border: 1px solid #fff;
    line-height: 1.2;
    padding-left: 32px;
    width: 100%;
    box-shadow: none;
    border-radius: 4px;
    color: #282828;
    box-sizing: border-box;
    overflow: visible;
    margin: 0;
    padding: 8px;
}

.genreWrapper {
    display: flex;
}

.genreButton {
    border-style: none;
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 0.75rem;
    line-height: 1.2;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-right: 8px;
}

.genreButton:hover {
    border: 1px solid #bbb;
}

#appSection {
    margin-left: auto;
}

.appHeader {
    display: flex;
    box-sizing: border-box;
}

.appHeader img {
    width: 40px;
}

.appHeader .down1 {
    padding-left: 16px;
}

.appHeader .down2 {
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.appDownload {
    width: 100%;
    display: flex;
    margin-top: 8px;
}

.store img {
    border: 1px solid #fff;
    height: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    cursor: pointer;
    border-radius: 2px;
    padding: 4px;
    width: 100%;
}

#storeFirst {
    margin-right: 16px;
}

.footer2Container {
    margin-top: 30px;
    padding-top: 10px;
    margin-right: 18px;
    margin-left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #464646;
}

.footer2Container a {
    margin: 6px;
    cursor: pointer;
}

.footer3 {
    font-size: 0.55rem;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.loadContainer {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading {
    width: 40px;
    height: 40px;
    border: 5px solid #dfdfdf;
    border-radius: 50%;
    border-left: 5px solid #b32020;
    border-right: 5px solid #b32020;
    border-top: 5px solid #b32020;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1184px) {
    #wrapper {
        max-width: 950px;
    }
    .w-main {
        max-width: 950px;
    }
    #mainContainer {
        padding-right: 0;
        padding-left: 0;
        box-sizing: border-box;
    }
    .p-item {
        width: 33.33%;
    }
}

@media screen and (max-width: 768px) {
    main {
        margin-top: 60px;
    }
    .navImage img {
        padding: 4px;
    }
    #mainContainer {
        padding-right: 0;
        padding-left: 0;
    }
    .product-list {
        flex-basis: 100%;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
    }
    .sideSection {
        display: none;
    }
    .p-item {
        width: 50%;
    }
    .product-list header h1 {
        font-size: 0.9rem;
    }
    #all {
        font-size: 0.8rem;
        font-weight: 400;
    }
    .navCategorieContainer {
        overflow-x: auto;
    }
    .navCategorieContainer a {
        width: 33.33%;
    }
    .footer_wrapper {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .col1 {
        box-sizing: border-box;
        flex-basis: 90%;
        max-width: 90%;
        min-width: 90%;
        width: 90%;
    }
    .col1 img {
        width: 30%;
    }
    .col2 {
        margin-top: 20px;
        margin-bottom: 20px;
        box-sizing: border-box;
        flex-basis: 90%;
        max-width: 90%;
        min-width: 90%;
        width: 90%;
    }
    #appSection {
        margin-left: 0;
    }
    .appHeader .down1 {
        padding-left: 0;
    }
    .appHeader img {
        width: 35px;
        height: 35px;
    }
    .store img {
        height: 30px;
        width: 100%;
    }
}